.center {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width:300px; /* you can use % */
  height: auto;
}

body {
  background-image: radial-gradient(#2e2e2e 10%, transparent 15%), radial-gradient(#1a1a1a 10%, transparent 15%);
  background-color: black;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
}

h1 {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-style: normal;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
