.center {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

body {
  background-image: radial-gradient(#212121 10%, transparent 15%), radial-gradient(grey 10%, transparent 15%);
  background-color: black;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
}
